@import url(./__list/places__list.css);
.places {
  margin: 92px auto;
  padding: 0;
  display: flex;
  max-width: 984px;
}

@media screen and (max-width: 860px) {
  .places {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 600px) {
  .places {
    max-width: 100%;
  }
}
