.button_tickets {
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 13px 20px;
  text-decoration: none;
}
@media screen and (max-width: 390px) {
  .button__tickets {
    margin: 0 auto 45px;
  }
}
