.lead {
  width: calc(100% - 296px);
  margin: 0 auto;
  padding-bottom: 92px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 860px) {
  .lead {
    width: 100%;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 540px) {
  .lead {
    padding-bottom: 64px;
  }
}
