.place__button {
  grid-area: btn;
  width: 248px;
  align-content: center;
  background-color: #0278fe;
  max-height: 48px;
  text-align: center;
  padding: 0;
  border-radius: 4px;
}

.place__button:hover {
  background-color: #0063d2;
}

@media screen and (max-width: 540px) {
  .place__button {
    width: 288px;
    margin: 30px auto 0;
  }
}
