.place__text {
  grid-area: text;
}

.place__text:last-child {
  padding-bottom: 0;
  max-width: 100%;
  grid-area: text;
}

@media screen and (max-width: 680px) {
  .place__text {
    max-width: 100%;
    margin: 0 auto;
  }
}
