.intro {
  max-width: calc(100% - 495px);
  margin-left: 148px;
  margin-bottom: 118px;
}
@media screen and (max-width: 860px) {
  .intro {
    margin: 0 0 90px 24px;
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 540px) {
  .intro {
    margin: 0 16px 90px;
    width: 100%;
  }
}
