@import url(./__content/cover__content.css);
@import url(./__title/cover__title.css);
@import url(./__quote/cover__quote.css);
@import url(../button/button.css);
@import url(./__button/cover__button.css);
.cover {
  background-image: url(../../images/background.jpg);
  width: calc(100% - 96px);
  min-height: 740px;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  margin: 0 auto;
}
.cover:hover {
  background-color: #2a2c2f;
  opacity: 0.8;
}
@media screen and (max-width: 860px) {
  .cover {
    margin: 0;
    min-width: 100%;
    min-height: 747px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 360px) {
  .cover {
    background-size: 100% 100%;
    min-height: 254px;
  }
}
