.button {
  align-content: center;
  background-color: #0278fe;
  max-width: 248px;
  max-height: 48px;
  text-align: center;
  padding: 0;
  border-radius: 4px;
}

.place__button:hover > .button {
  background-color: #0063d2;
}
